.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 72px;
}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button {
    position: relative;
    width: 72px;
    height: 76px;
    border-width: 0;
    cursor: pointer;
    background-color: transparent;
}

.sidebar-icon {
    width: 50%;
}

.sidebar-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 35%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.1s, transform 0.1s ease;
}

.sidebar-button:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.sidebar-button-description {
    font-size: 11px;
    text-align: center;
    display: block;
}